/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #213e5b;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
header {
  background-color: #00264d;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
}

.logo {
  width: 200px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ff9900;
}

header .btn-download {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

header .btn-download:hover {
  background-color: #ffcc00;
}

/* HERO SECTION */

#hero {
  padding: 50px;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text h2 {
  font-size: 2rem;
  color: #fff;
}

.hero-text h2 span {
  color: #ff9900;
}

.hero-text .btn-hero {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff9900;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hero-text .btn-hero:hover {
  background-color: #ffcc00;
}

.hero-image img {
  width: 400px;
}

/* SOBRE SECTION */
#sobre {
  padding: 50px 0;
  color: #000;
}

#sobre.bg-orange {
  background-color: #ff9900;
}

.sobre-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.sobre-image img {
  width: 500px;
}

.sobre-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sobre-text p {
  font-size: 1.2rem;
}

/* Gallery Section */
#peoples-running {
  padding: 50px 0;
  background-color: #213e5b;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery img {
  width: 1200px;
}

/* Inspire-se Section */
#inspire-se {
  padding: 100px 0;
  /* background-color: #213e5b; */
  text-align: center;
  position: relative;
}

#inspire-se::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/runner-silhouette.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

/*  Serviços Section */
#servicos {
  padding: 50px 0;
  color: #fff;
}

.servicos-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.servico-item {
  text-align: center;
}

.servico-item img {
  width: 50px;
  margin-bottom: 15px;
}

.servico-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.servico-item p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
}

/* Fácil Acesso Section */
#facil-acesso {
  padding: 50px 0;
  color: #fff;
}

.facil-acesso-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facil-acesso-text h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.facil-acesso-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.facil-acesso-text ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.facil-acesso-image img {
  width: 500px;
  border-radius: 10px;
}

/* Conquiste Seus Objetivos Section */
#conquiste-objetivos {
  padding: 50px 0;
  color: #fff;
}

.objetivos-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
