@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #213e5b;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
header {
  background-color: #213e5b;
  padding: 30px 20px;
}

.header-logo {
  display: inline-block;
}

.logo {
  width: 200px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: normal;
  transition: color 0.3s;
  font-size: 1.1rem;
}

header nav ul li a:hover {
  color: #ff9900;
}

header .btn-download {
  background-color: transparent;
  border: 2px solid #ff9900;
  color: #ff9900;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  /* display: inline-block; */
  text-align: center; /* Centraliza o texto no botão */
  width: 100%; /* Ocupa a mesma largura dos outros itens */
  box-sizing: border-box; /* Inclui padding na largura total */
}

header .btn-download:hover {
  background-color: #ffcc00;
  color: #fff;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px; /* Adicione padding horizontal ao container */
}

/* HERO SECTION */

#hero {
  padding: 50px;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.3;
  font-weight: bold;
  max-width: 500px;
}

.hero-text h2 span {
  color: #ff9900;
}

.hero-text .btn-hero {
  /* display: inline-block; */
  padding: 15px 30px;
  background-color: #ff9900;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.hero-text .btn-hero:hover {
  background-color: #ffcc00;
}

.hero-image img {
  width: 400px;
}

.custom-hero {
  padding: 30px 50px 80px !important;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.custom-hero-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
}

/* SOBRE SECTION */
#sobre {
  padding: 50px 0;
  color: #000;
}

#sobre.bg-orange {
  background-color: #ff9900;
}

.sobre-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.sobre-image img {
  width: 500px;
}

.sobre-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sobre-text p {
  font-size: 1.2rem;
}

/* GALERIA SECTION */
#peoples-running {
  padding: 50px 0;
  background-color: #213e5b;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery img {
  width: 1200px;
}

/* INSPIRE-SE SECTION */
#inspire-se {
  padding: 100px 0;
  /* background-color: #213e5b; */
  text-align: center;
  position: relative;
}

#inspire-se::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/runner-silhouette.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

/*  SERVIÇOS SECTION */
#servicos {
  padding: 50px 0;
  color: #fff;
}

.servicos-header {
  text-align: center;
}

.servicos-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.servico-item {
  text-align: center;
}

.servico-item img {
  width: 50px;
  margin-bottom: 15px;
}

.servico-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.servico-item p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
}

/* FÁCIL ACESSO SECTION */
#facil-acesso {
  padding: 50px 0;
  color: #fff;
}

.facil-acesso-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facil-acesso-text h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.facil-acesso-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.facil-acesso-text ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.facil-acesso-image img {
  width: 500px;
  border-radius: 10px;
}

/* CONQUISTE SEUS OBJETIVOS SECTION */
#conquiste-objetivos {
  padding: 50px 0;
  color: #fff;
}

.objetivos-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objetivos-image img {
  width: 500px;
  border-radius: 10px;
}

/* Call to Action Section */
#cta {
  padding: 50px 0;
  background-color: #ff9900;
  color: #000;
  text-align: center;
}

#cta h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 120%;
}

#cta p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 150%;
}

#cta p span {
  font-weight: bold;
}

#cta .btn-cta {
  display: inline-block;
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#cta .btn-cta:hover {
  background-color: #333;
}

/* Footer */
footer {
  padding: 50px 0;
  background-color: #071019;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
  gap: 40px; /* Espaço entre as colunas */
}

.col {
  flex: 1;
}

.footer-logo {
  width: 200px; /* Tamnho da logo */
  margin-bottom: 20px;
}

.col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col ul li {
  margin-bottom: 10px;
}

.col form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.col input[type="email"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.col button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

.col button:hover {
  background-color: #ffcc00; /* Laranja claro no hover */
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.footer-bottom p {
  font-size: 1rem;
}

.footer-bottom ul {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: underline;
}

.footer-bottom ul li a {
  color: #fff;
  font-weight: bold;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links img {
  width: 40px;
  color: #fff;
}
